<!-- views/user/menuPria.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pria</title>
    <!-- Tambahkan link ke file CSS di sini -->
    <link rel="stylesheet" href="/styles/menuPria.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu-pria">Menu Pria</a></li>
                <li><a href="/menu-wanita">Menu Wanita</a></li>
                <li><a href="/menu-sale">Menu Sale</a></li>
                <li><a href="/about-us">About Us</a></li>
                <!-- If user is admin, show admin link -->
            </ul>
        </nav>
    </header>

    <h2>Daftar Produk Pria</h2>

    <ul>
      <% products.forEach(product => { %>
        <li>
          <h3><%= product.name %></h3>
          <p>Harga: <%= product.price %></p>
          <p><%= product.description %></p>
          <img src="/images/<%= product.image %>" alt="<%= product.name %>">
        </li>
      <% }) %>
    </ul>
    <footer>
        <p>&copy; 2025 Batik Shop. All rights reserved.</p>
    </footer>
</body>
</html>
